@import url("vars.css");
@import url("svg-colors.css");

* {
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

nav {
    z-index: 1; /* ensure rendered on top */
}

@media (width >= 550px) and (not ((orientation: portrait) and (not (hover: hover)))) {
    #list-nav {
        display: none;
    }

    nav {
        top: 0;
        position: sticky;
        height: var(--nav-height);
    }

    nav ul {
        overflow: hidden;
    }
}

@media (width < 550px) or ((orientation: portrait) and (not (hover: hover))) {
    #top-nav {
        display: none;
    }

    nav {
        height: calc(var(--nav-height) * var(--nav-items))
    }

    nav ul {
        display: grid;
        grid-template-rows: repeat(var(--nav-items), var(--nav-height));
    }

    nav ul li {
        width: 100%;
    }
}

@media (hover: hover) {
    nav a:hover {
        background-color: var(--nav-hover);
    }
}

nav {
    width: 100%;
    display: block;
    font-size: var(--nav-font-size);

    ul {
        list-style-type: none;
        background-color: var(--nav-background);
        height: 100%;

        li {
            float: left;
            height: 100%;
            align-content: center;

            a {
                display: block;
                align-content: center;
                text-align: center;
                background-color: var(--nav-item);
                color: var(--nav-font-color);
                text-decoration: none;
                height: 100%;
                padding: 0 16px;
            }

            a.active {
                background-color: var(--nav-selected);
            }

            img {
                width: calc(var(--nav-height) / 2);
                height: 100%;
            }
        }
    }
}