:root {
    --nav-background: #abc;
    --nav-item: #123;
    --nav-selected: #246;
    --nav-hover: rgb(62, 108, 154);
    --nav-font-color: #f66;
    --nav-height: 3rem;
    --nav-items: 5;
    --nav-font-size: 1.2em;

    --body-background: #163235;
    --main-background: #106967;
    --item-background: #efca7c;

    --font-size-p: 1em;
    --font-size-h1: 4em;
    --font-size-h2: 2em;
    --font-size-h3: 1.5em;

    --link-color: #113;

    --fig-text-background: white;
}