:root {
    --nav-height: 3rem;
    --nav-items: 5;
    --nav-font-size: 1.2em;

    --palette-color1: #163235;
    --palette-color2: #106967;
    --palette-color3: #4fbc9c;
    --palette-color4: #32bfda;
    --palette-color5: #efca7c;
    --palette-color6: #e8b953;

    --font-size-p: 1em;
    --font-size-h1: 4em;
    --font-size-h2: 2em;
    --font-size-h3: 1.5em;
}